@import 'tailwindcss';

@theme {
  --font-sans: var(--font-source-sans);
  --color-background: #fff;
  --color-foreground: #1d1d1f;
  --color-accent: #007acc;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  :focus-visible {
    @apply outline-2 outline-offset-1 outline-accent;
  }
}
